body {
    display: grid;

}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.submit-button {
    width: 100%;
}

.header {
    background-color: #ffeccf;
    grid-area: 2 / 3 / 1 / 2;
}

.tab-content-all {
    margin-top: 20px;
}