body {
    background-image: url("img/coffeemenu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.submit-button {
    width: 100%;
}

.header {
    background-color: #ffeccf;
    margin-top: 15%;
    padding: 0;
    grid-area: 2 / 3 / 1 / 2;
}

.tab-content-all {
    margin-top: 20px;
}
.end{
    margin-bottom: 20%;
}
.cup{
    z-index: -1;
}

#orderRoast{
    position: absolute;
    top: 55%;
    left: 37%;
    z-index: 1;
    height: 25%;
    width: 25%;
}
.card{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px black;
    border-radius: 10px;
}
.card-title{
    /*font-weight: bold;*/

}

.tab{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#orderBtn{
    /*position: absolute;*/
    width: 30%;
    height: 70%;
    /*right: 0%;*/
    /*bottom: 0;*/
}